input[type=submit]:hover {
    background-color: rgb(128, 72, 20);
    color: white;}
input[type=reset]:hover {
    background-color: rgb(128, 72, 20);
    color: white;}

    input[type=submit] {
        background-color: #FFFFFF;
        color: black;
          padding: 14px 20px;
         
          border: none;
          border-radius: 15px;
          cursor: pointer;
        }
        input[type=reset] {
        
        background-color: #FFFFFF;
        color: black;
        padding: 14px 20px;
       
        border: none;
        border-radius: 15px;
        cursor: pointer;
        }

        button:hover {
            background-color: rgb(128, 72, 20);
            color: white;}

            button {
                background-color: #FFFFFF;
                color: black;
                  padding: 10px 20px;
                 
                  border: none;
                  border-radius: 10px;
                  cursor: pointer;
                }